@media (min-width: 768px) {
    .contact-us {
        .col-md-3 {
            max-width: 30%;
        }

        .col-md-9 {
            max-width: 70%;
        }
    }

    .contact-info img {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .contact-info img {
        margin-bottom: 40px;
    }

    .welcome-img img {
        width: 300px;
    }
}
