html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-btn {
    font-weight: 600;
    padding: 6px 30px;
}

.main-btn:focus {
    box-shadow:none;
}

.hide {
    display: none;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
    background-color: olivedrab;
}
.footer {
    flex: 0 0 auto;
}

.bg-black {
    background-color: #13151D;
}

.navbar-collapse {
    padding-top: 10px;
}

input[type=radio] {
    display: none;
}

.natural-person:checked + label i {
    display: inline;
}

.legal-entity:checked + label i {
    display: inline;
}

.profile-image-wrapper .img {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.welcome-img {
    img {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}

.navbar-toggler {
    background-color: whitesmoke;
}

.dropdown-toggle {
    color: #B5B5BD;
    &:hover {
        color: white;
    }
}

.help-block.invalid-recaptcha {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}




.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

//Contact Us
.contact{
    padding: 4%;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}


//Page Success
.success {
    text-align: center;

    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
    h1 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }
    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size:20px;
        margin: 0;
    }
    i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
    }

    &-info {
        border-radius:200px;
        height:200px; width:200px;
        background: #F8FAF5;
        margin:0 auto;
    }
}
